<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
    <input type="hidden" name="id" [value]="service.formData.id">

    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-user-alt"></i>
                </div>
            </div>
            <input name="name" #Name="ngModel" [(ngModel)]="service.formData.name" class="form-control" placeholder="Name" required required maxlength="50">
        </div>
    </div>

    <div class="form-group">
        <button class="btn btn-success btn-lg btn-block" [disabled]="form.invalid" type="submit">
                    <i class="fas fa-database"></i> Submit
            </button>
        <button class="btn btn-primary btn-lg btn-block" (click)="resetForm()">
                    <i class="fas fa-broom"></i> Reset
            </button>
    </div>
</form>